[Unit]
Description=Open Liberty Server - {{ liberty_server_name }}
After=network.target

[Service]
Type=simple
User={{ liberty_user }}
Group={{ liberty_user }}
Environment="JAVA_HOME=/usr/lib/jvm/java-{{ liberty_java_version | default('17') }}-openjdk-amd64"
ExecStart={{ liberty_install_dir }}/bin/server run {{ liberty_server_name }}
ExecStop={{ liberty_install_dir }}/bin/server stop {{ liberty_server_name }}
TimeoutStartSec=300
TimeoutStopSec=60
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
