global:
  resolve_timeout: 5m

route:
  receiver: 'default'
  group_by: ['alertname', 'severity']
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 4h
  
  routes:
    - receiver: 'critical'
      match:
        severity: critical

receivers:
  - name: 'default'
    slack_configs:
      - channel: '#middleware-alerts'
        send_resolved: true

  - name: 'critical'
    slack_configs:
      - channel: '#middleware-critical'
        send_resolved: true
