---
- name: Update apt cache
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: 3600
  when: ansible_os_family == "Debian"

- name: Install common packages
  ansible.builtin.package:
    name:
      - curl
      - wget
      - unzip
      - vim
      - htop
      - jq
      - net-tools
      - acl
    state: present

- name: Configure timezone
  ansible.builtin.command:
    cmd: timedatectl set-timezone {{ timezone | default('UTC') }}
  changed_when: false

- name: Set hostname
  ansible.builtin.hostname:
    name: "{{ inventory_hostname }}"
